<section id="producten" data-scrolloffset="50" class="rex-team container">
    <div class="producten">
        <div class="row">
            <div class="col-md-4 margin-bottom-level-5">
                <p>
                    <h3> Singlezone </h3>
                    <br/>
                </p>
                <p>
                    WTMD is de afkorting van Walk-Trough Metal Detector. 
                    De Single Zone WTMD van CEIA is ontworpen en ontwikkeld om
                    specifieke publieke beveiligingsbehoeften te voorzien. 
                    De metaaldetector wordt veel ingezet bij scholen, hotels, 
                    pretparken en stadhuizen.
                </p>
                <p>
                    <a href="/singlezone"
                    class="button"
                    role="button"
                    >
                    Bekijk product
                    </a>
                </p>
            </div>
            <div class="col-md-4 margin-bottom-level-5">
                <p>
                <h3> Multizone </h3>
                <br/>
                </p>
                <p>
                    De HI-PE Multi Zone is een metaaldetector die 
                    aan de strengsteinternationale 
                    veiligheidsnormen voldoet.
                    De ‘multi zone’ detectie stelt direct vast waar het metalen 
                    object zich op de persoon bevindt.<br /><br />
                </p>
                <p>
                    <a href="/multizone"
                    class="button"
                    role="button"
                    >
                    Bekijk product
                    </a>
                </p>
            </div>
            <div class="col-md-4 margin-bottom-level-5">
                <p>
                    <h3>Loss Prevention</h3>
                    <br/>
                </p>
                <p>
                    CEIA produceert al jaren toonaangevende
                    walk-through en draagbare metaaldetectiesystemen 
                    voor verlies- en diefstalpreventie.<br /><br /><br />
                </p>
                <p>
                    <a href="/loss-prevention"
                    class="button"
                    role="button"
                    >
                    Bekijk product
                    </a>
                </p>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-4">
                <p>
                    <h3>Hand Scanners</h3>
                    <br/>
                </p>
                <p>
                    De PD140E is een handheld detector met 
                    een zeer hoge betrouwbaarheid.
                    De handscanner is uitgerust met geavanceerde technologie voor 
                    detectie van alle soorten metalen.
                    Er is speciale aandacht besteed aan het ontwerp zodat 
                    de hand van de gebruiker niet stoort bij het detectiegebied.
                </p>
                <p>
                    <a href="/hand-scanners"
                    class="button"
                    role="button"
                    >
                    Bekijk product
                    </a>
                </p>
            </div>
            <div class="col-xs-4">
                <p>
                    <h3>Verhuur</h3>
                    <br/>
                </p>
                <p>
                    De beveiligingsproducten van Gilardoni zijn 
                    uitgerust met Multi-Energy technologie voor 
                    de inspectie van hand- en ruimbagage.<br /><br /><br /><br /><br />
                </p>
                <p>
                    <a href="/x-ray"
                    class="button"
                    role="button"
                    >
                    Bekijk product
                    </a>
                </p>
            </div>
            <div class="col-xs-4">
                <p>
                    <h3>Verkoop</h3>
                    <br/>
                </p>
                <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo<br/><br/>
                </p>
                <p>
                    <a href="/x-ray"
                    class="button"
                    role="button"
                    >
                    Bekijk product
                    </a>
                </p>
            </div>

        </div>
    </div>
</section>
