<section id="team" data-scrolloffset="50" class="rex-team container">
    <div class="rex-heading">
        {{
                widget('content', 'x-ray', {
                    content: '<h3>VERHUUR X-RAY UNITS</h3> 
                    <p>
                        De beveiligingsproducten van Gilardoni zijn uitgerust met Multi-Energy technologie voor 
                        de inspectie van hand- en ruimbagage. Het apparatuur van Gilardoni wordt niet alleen 
                        gebruikt in luchthavens, maar ook door de overheid en openbare gebouwen, 
                        douane en speciale stations. 
                    </p>
                '
            })|raw
        }}
    </div>
    <div class="row">
        <div class="col-md-3 col-smxs-5 padding-right">
        </div>
            <div class="col-md-6 col-xs-5 padding-right">
                <div class="rex-team-content wow fadeInUp"  data-wow-duration="1" data-wow-delay="0.8s">
                    <div class="rex-team-text">
                        {{
                            widget('content', 'team-content2', {
                                content: '
                                    <h4>Gilardoni FEP ME 536 X-Ray Unit </h4>
                                        <br />
                                        Deze röntgenscanner van Gilardoni is een inspectiesysteem voor post, pakketten 
                                        en kleine bagage. Het compacte formaat en de losstaande configuratie met 
                                        monitor en regeltafel zorgen voor een snelle installatie in een beperkte ruimte.
                                        FEP ME 536 is voorzien van ‘dual-energy detectie’ en geeft beelden van hoge 
                                        kwaliteit.
                                        <br /><br /> 
                                    <h4>Gilardoni FEP ME 975 X-Ray Unit </h4>
                                        <br />
                                        De röntgenscanner FEB ME 975 R-Ray Unit is een inspectiesysteem voor 
                                        ruimbagage en grote pakketten. Het bevat een vernieuwd softwareprogramma 
                                        en biedt hoge prestaties met een superieure beeldkwaliteit. 
                                '
                            })|raw
                        }}
                    </div>
                </div>
            </div>
    </div>
</section>
