<!-- Header start -->
<nav id="rex-sticke-nav" class="nav-fixed-top">
        <div class="row select-row">

            <center>
                <div class="col-sm-12 col-nav">
                
                    <!-- Navigation Area -->
                    <div class="content">
                        <div class="rex-navigation-area">
                            <ul id="rex-navigation" class="slimmenu cl-effect-5">
                                <li>
                                    <a href="home">Home</a>
                                </li>
                                <li>
                                    <a href="over-ons">Over WDV</a>
                                </li>
                                <li class="drop-down">
                                    <a href="producten">Producten</a>
                                    <ul>
                                        <li>
                                            <a href="singlezone">Singlezone</a>
                                        </li>
                                        <li>
                                            <a href="multizone">Multizone</a>
                                        </li>
                                        <li>
                                            <a href="loss-prevention">Loss-Prevention</a>
                                        </li>
                                        <li>
                                            <a href="hand-scanners">Hand-Scanners</a>
                                        </li>
                                        <li>
                                            <a href="x-ray">Verhuur</a>
                                        </li>
                                        <li>
                                            <a href="verkoop">Verkoop</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="contact">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- end Navigation Area -->
                
                </div>
            </center>
        </div>
</nav>
<!-- End header section -->