<section id="team" data-scrolloffset="50" class="rex-team container">
    <div class="rex-heading">
        {{
            widget('content', 'team-content1', {
                content: '<h3>OVER ONS</h3> 
                <br/>
                    <p>
                        WDV is gespecialiseerd in detectiesystemen voor overheid, horeca, evenementen, schoolfeesten en risicocongressen.
                        Wij leveren kwalitatief beveiligingsapparatuur dat zorg draagt voor een veilige omgeving.
                        WDV is door de jaren heen uitgegroeid tot de grootste verhuurder van metaaldetectiepoortjes in Nederland.
                        We zijn gevestigd in Rotterdam en bieden een 24 uursservice voor installatie, onderhoud en reparatie. 
                    </p> 
                    <br/>
                    <p>
                        In 1989 zagen David van Dam en zijn broer een toenemende vraag naar verbeterde beveiliging.
                        Ze startten hun bedrijf in het verhuren van beveiligingsapparatuur.
                        Inmiddels is WDV al 27 jaar een betrouwbare partner voor het huren van CEIA-detectiepoorten, metaaldetectoren, handscanners, portofoons en kogelwerende vesten.
                        Door onze expertise en service hebben wij een uitgebreide klantenkring weten op te bouwen, bestaande uit meer dan vijfhonderd bedrijven.
                        Het is onze taak om personeel te voorzien van kwalitatieve producten die bijdragen aan een veilige sfeer.
                    </p>      
                    '
            })|raw
        }}
    </div>
    </section>