  <!-- Who We Are section -->
            <section id="about" data-scrolloffset="50" class="rex-about">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 rex-about-img">
                        <!-- left content -->
                        <div class="img-responsive wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
                            {{widget('image', 'about-image', {
                                'src': asset("/assets/placeholders/large.png")
                            })|raw}}
                        </div>
                    </div>
                    <!-- end left content -->

                    <div class="col-md-6 rex-about-text">
                        <div class="wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.9s">
                            <!-- right content -->
                            <div class="rex-sub-title">
                                {{widget('content', 'about-title', {
                                  content: '<h3>Over WDV</h3>'
                                })|raw}}
                            </div>
                            {{widget('content', 'about-content', {
                                  content: '
                                    <p>
                                    Wij leveren kwalitatief beveiligingsapparatuur dat zorg 
                                    draagt voor een veilige omgeving. WDV is door de jaren 
                                    heen uitgegroeid tot de grootste verhuurder van 
                                    metaaldetectiepoortjes in Nederland.
                                    </p>
                                  '
                                })|raw}}

                    <a href="over-ons"
                           class="button"
                           role="button"
                            >
                                Meer informatie
                        </a>
                        </div>
                    </div>
                    <!-- End right content -->
                </div>
            </div>
        </section>
        <!-- End about section -->