<!-- Call to action section -->

<section id="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="block wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.8s">
                    {{widget('content', 'call-to-action-content', {
                        content: '
                            <p>Vraag een offerte aan</p>'
                    })|raw}}
                </div>
            </div>
            <div class="col-md-4">
                <div class="block wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.8s">
                        <a href="{{ ('home#contact') }}"
                           class="button"
                           role="button"
                        >
                            offerte AANVRAGEN
                        </a>
                </div>
            </div>
        </div>
    </div>
</section>
