<!--  Our Achievment section -->
            <section id="cijfers" data-scrolloffset="150" class="rex-achievment container">
            <div class="row">
                <div class="col-md-12 rex-achievment-list">
                    <ul>
                        <li class="wow fadeInUp"  data-wow-duration="0.8s" data-wow-delay="0.5s">
                        {{widget('content', 'achievement-block1', {
                          content: '
                          <h5>tevreden klanten</h5>
                      </br>
                          <h3>500+</h3> 
                          '
                          })|raw}}
                        </li>
                        <li class="wow fadeInUp"  data-wow-duration="1.2s" data-wow-delay="0.7s">
                         {{widget('content', 'achievement-block2', {
                          content: '
                          <h5>jaar ervaring</h5>
                      </br>
                          <h3>27+</h3> 
                          '
                          })|raw}}
                        </li>
                        <li class="wow fadeInUp"  data-wow-duration="1.2s" data-wow-delay="0.9s">
                         {{widget('content', 'achievement-block3', {
                          content: '
                          <h5>servicedienst</h5>
                      </br>
                          <h3>24/7</h3>
                          '
                          })|raw}}
                        </li>
                        <li class="wow fadeInUp"  data-wow-duration="1.3s" data-wow-delay="1s">
                         {{widget('content', 'achievement-block4', {
                          content: '
                          <h5>procent kwaliteit</h5>
                      </br>
                          <h3>100</h3>
                          '
                          })|raw}}
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!--  End Our Achievment section -->