<!--  Our Achievment section -->
            <section id="cijfers" data-scrolloffset="150" class="rex-achievment container">
            <div class="row">
                <div class="col-md-12 rex-achievment-list">
                    <ul>
                        <li class="wow fadeInUp"  data-wow-duration="0.8s" data-wow-delay="0.5s">
                        {{widget('content', 'achievement-block1', {
                          content: '
                          <h2>+500</h2>
                          <h2 class="timer count-title" id="count-number1" data-to="183" data-speed="1500"></h2>
                          <p><span>tevreden klanten</span></p>
                          '
                          })|raw}}
                        </li>
                        <li class="wow fadeInUp"  data-wow-duration="1.2s" data-wow-delay="0.7s">
                         {{widget('content', 'achievement-block2', {
                          content: '
                          <h2>+27</h2>
                          <h2 class="timer count-title" id="count-number2" data-to="1300" data-speed="1500"></h2>
                          <p><span>jaar ervaring</span></p>
                          '
                          })|raw}}
                        </li>
                        <li class="wow fadeInUp"  data-wow-duration="1.2s" data-wow-delay="0.9s">
                         {{widget('content', 'achievement-block3', {
                          content: '
                          <h2>24</h2>
                          <h2 class="timer count-title" id="count-number3" data-to="3250" data-speed="1500"></h2>
                          <p><span>uur servicedienst</span></p>'
                          })|raw}}
                        </li>
                        <li class="wow fadeInUp"  data-wow-duration="1.3s" data-wow-delay="1s">
                         {{widget('content', 'achievement-block4', {
                          content: '
                          <h2>100</h2>
                          <h2 class="timer count-title" id="count-number4" data-to="35410" data-speed="1500"></h2>
                          <p><span>procent kwaliteit</span></p>
                          '
                          })|raw}}
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!--  End Our Achievment section -->