 <!--  Team section -->
            <section id="david" data-scrolloffset="50" class="rex-team container">
            <div class="rex-heading">
                {{widget('content', 'team-title', {
                    content: '
                        <h3>Trusted Lawyer</h3>'
                })|raw}}
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4 padding-right">
                    <!-- top lawyer img -->
                    <div class="rex-top-lawyer wow fadeInUp img-responsive"  data-wow-duration="1s" data-wow-delay="0.8s">
                    {{widget('image', 'team-top-image', {
                        'src': asset("/assets/placeholders/team.png")
                    })|raw}}
                    </div>
                </div>
                <div class="col-md-8 col-sm-8">
                    <!-- top lawyer description -->
                    <div class="rex-team-content wow fadeInUp"  data-wow-duration="1" data-wow-delay="0.8s">
                        <div class="rex-team-text">
                            {{widget('content', 'team-top-content', {
                                content: '
                                    <h4> JOSHUA BACH</h4>
                                    <h5>Founder and Principal</h5>
                                    <p>This is Photoshop version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean <br>sollicitudin, lorem quis nisi elit conat ipsum, nec sagittis sem nibh id elit. Duis ed odio sit <br>amet nibh vulputate. </p>'
                            })|raw}}
                            <!-- top lawyer social media link  -->
                            <div class="lawyer-social-media">
                                <div class="media">
                                    {{widget('content', 'team-top-media', {
                                        content: '
                                            <a href="https://www.facebook.com/" target="_blank">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                            <a href="https://twitter.com/" target="_blank">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                            <a href="https://www.linkedin.com/" target="_blank">
                                                <i class="fa fa-linkedin"></i>
                                            </a>'
                                    })|raw}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End row -->

            <!-- start row -->

        </section>
        <!-- End team section -->