  <!-- Who We Are section -->
            <section id="about" data-scrolloffset="50" class="rex-about">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 rex-about-img">
                        <!-- left content -->
                        <div class="img-responsive wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
                            {{widget('image', 'about-image', {
                                'src': asset("/assets/placeholders/large.png")
                            })|raw}}
                        </div>


                    </div>
                    <!-- end left content -->

                    <div class="col-md-6 rex-about-text">
                        <div class="wow fadeInUp " data-wow-duration="1.5s" data-wow-delay="0.9s">
                            <!-- right content -->
                            <div class="rex-sub-title">
                                {{widget('content', 'about-title', {
                                  content: '<h3>SERVICE</h3>'
                                })|raw}}
                            </div>
                            {{widget('content', 'about-content', {
                                  content: '
                                    <h5>24 uur service</h5></br>
                                    <p>
                                        24 uur bereikbare servicedienst voor installatie, 
                                        onderhoud en reparatie.
                                    </p></br>
                                  '
                                })|raw}}

                            {{widget('content', 'about-content', {
                                  content: '
                                        <h5>Beveiligingsmedewerkers</h5></br>
                                    <p>
                                        Eventueel kunnen wij beveiligingsmedewerkers voor 
                                        u verzorgen die een aanvullende opleiding 
                                        hebben gevolgd in visitatie, drugs en wapenherkenning. 
                                    </p>
                                  '
                                })|raw}}
                            
                        </div>
                    </div>
                    <!-- End right content -->
                </div>
            </div>
        </section>
        <!-- End about section -->