{% extends '/layouts/main.twig' %}
{% block content %}
    
    <div class="custom-container overOns">
    
        <div class="row">
            
            <div class="col-sm-12">
        
                {{
                    widget('content', 'overOns-titel', {
                        content: '<h3>OVER ONS</h3>'
                    })|raw
                }}
            
            </div>
        
        </div>
    
        <div class="row">
            
            <div class="col-sm-12">
        
                {{
                    widget('content', 'overOns-text', {
                        content: '
                            <p>
                                WDV is gespecialiseerd in detectiesystemen voor overheid, horeca, evenementen, schoolfeesten en risicocongressen.
                                Wij leveren kwalitatief beveiligingsapparatuur dat zorg draagt voor een veilige omgeving.
                                WDV is door de jaren heen uitgegroeid tot de grootste verhuurder van metaaldetectiepoortjes in Nederland.
                                We zijn gevestigd in Rotterdam en bieden een 24 uursservice voor installatie, onderhoud en reparatie. 
                            </p> 
                            <p>
                                In 1989 zagen David van Dam en zijn broer een toenemende vraag naar verbeterde beveiliging.
                                Ze startten hun bedrijf in het verhuren van beveiligingsapparatuur.
                                Inmiddels is WDV al 27 jaar een betrouwbare partner voor het huren van CEIA-detectiepoorten, metaaldetectoren, handscanners, portofoons en kogelwerende vesten.
                                Door onze expertise en service hebben wij een uitgebreide klantenkring weten op te bouwen, bestaande uit meer dan vijfhonderd bedrijven.
                                Het is onze taak om personeel te voorzien van kwalitatieve producten die bijdragen aan een veilige sfeer.
                            </p>
                            <p>
                                WDV staat voor veiligheid. Veiligheid staat voor alles.  100% veiligheid kun je mensen niet garanderen , 
                                maar je kunt er wel naar streven. 
                                Daarom zet WDV zich in om diverse middelen aan te bieden aan bedrijven en particulieren 
                                om hun veiligheid te verbeteren. Met andere woorden;  Het aanbieden en leveren 
                                van beveiligingssystemen en -apparaten die ons veiligheid waarborgen.
                            </p>
                        '
                    })|raw
                }}
            
            </div>
        
        </div>
    
    </div>

{% endblock %}