
<!--  Our footer-top section -->
<section class="footer-top">
    <div class="container">
        <div class="row">

            <div class="footer-col col-xs-12 col-md-4 col-sm-12">
                <div class="footer-logo-area wow zoomIn"  data-wow-duration="1.2s" data-wow-delay="0.2s">
                {{
                    widget('image', 'headerimage', {
                        'src': asset('/assets/images/logo.png'),
                        'alt': 'The alternate text',
                        'fileName': 'Logo Image',
                        'fileSize': 3,
                        'imageSize': '150 x 40',
                        'imageWidth': '300',
                        'float': 'right',
                    })|raw
                }}

                </div>
            </div>
            <div class="footer-col col-xs-12 col-md-4 col-sm-6">
                <div class="content wow zoomIn"  data-wow-duration="1.2s" data-wow-delay="0.4s">
                    <div class="title">
                    {{widget('content', 'site-footer-contact-caption', {
                        content:
                        '<br/><h4>contact</h4>'
                    })|raw}}
                        <article>
                        {{widget('content', 'site-footer-contact', {
                        content:
                            '<a href="tel:1234567890">
                                <i class="pe-7s-call"></i>
                                (+31) 102927830
                            </a>
                            <a href="mailto:info@rextheme.com">
                              <i class="fa fa-paper-plane-o"></i>
                              name@yourdomain.com
                            </a>
                            <div class="address">
                                <i class="pe-7s-map-marker"></i>
                                <p>Aploniastraat 82<br>
                                3084 CC Rotterdam</p>
                            </div>'
                        })|raw}}

                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End footer-top section -->

<!-- footer section -->
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {{widget('content', 'site-footer-copyright', {
                        content:
                        '<p></span> Copyright &copy; 2016 - All Rights Reserved By WDV</p>'
                    })|raw}}
                </div>
            </div>
        </div>
    </footer>
    <section class="socket">
        <div class="backtop" style="display: block;">
            <a href="#top"><i class="fa fa-angle-up"></i></a>
        </div>
    </section>
<!--END FOOTER HTML-->
